<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="description" content="" />
    <meta name="author" content="Mark Otto, Jacob Thornton, 그리고 Bootstrap 기여자들" />
    <meta name="generator" content="Hugo 0.104.2" />
    <title>HashtagEco</title>

    <link rel="canonical" href="https://getbootstrap.kr/docs/5.2/examples/headers/" />

    <link href="/docs/5.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous" />

    <!-- Favicons -->
    <link rel="apple-touch-icon" href="/docs/5.2/assets/img/favicons/apple-touch-icon.png" sizes="180x180" />
    <link rel="icon" href="/docs/5.2/assets/img/favicons/favicon-32x32.png" sizes="32x32" type="image/png" />
    <link rel="icon" href="/docs/5.2/assets/img/favicons/favicon-16x16.png" sizes="16x16" type="image/png" />
    <link rel="manifest" href="/docs/5.2/assets/img/favicons/manifest.json" />
    <link rel="mask-icon" href="/docs/5.2/assets/img/favicons/safari-pinned-tab.svg" color="#712cf9" />
    <link rel="icon" href="/docs/5.2/assets/img/favicons/favicon.ico" />
    <meta name="theme-color" content="#712cf9" />

    <style>
      .bd-placeholder-img {
        font-size: 1.125rem;
        text-anchor: middle;
        -webkit-user-select: none;
        -moz-user-select: none;
        user-select: none;
      }

      @media (min-width: 768px) {
        .bd-placeholder-img-lg {
          font-size: 3.5rem;
        }
      }

      .b-example-divider {
        height: 3rem;
        background-color: rgba(0, 0, 0, 0.1);
        border: solid rgba(0, 0, 0, 0.15);
        border-width: 1px 0;
        box-shadow: inset 0 0.5em 1.5em rgba(0, 0, 0, 0.1), inset 0 0.125em 0.5em rgba(0, 0, 0, 0.15);
      }

      .b-example-vr {
        flex-shrink: 0;
        width: 1.5rem;
        height: 100vh;
      }

      .bi {
        vertical-align: -0.125em;
        fill: currentColor;
      }

      .nav-scroller {
        position: relative;
        z-index: 2;
        height: 2.75rem;
        overflow-y: hidden;
      }

      .nav-scroller .nav {
        display: flex;
        flex-wrap: nowrap;
        padding-bottom: 1rem;
        margin-top: -1px;
        overflow-x: auto;
        text-align: center;
        white-space: nowrap;
        -webkit-overflow-scrolling: touch;
      }

      .sub-menu {
        position: absolute;
        background: #182952;
        opacity: 0;
        visibility: hidden;
        transition: all 0.15s ease-in;
      }

      .sub-menu > li {
        padding: 16px 28px;
        border-bottom: 1px solid rgba(0, 0, 0, 0.15);
      }

      .sub-menu > li > a {
        color: rgba(255, 255, 255, 0.6);
        text-decoration: none;
      }

      .main-menu > li:hover #sub-menu {
        opacity: 1;
        visibility: visible;
      }

      .sub-menu > li > a:hover {
        text-decoration: underline;
      }
    </style>

    <!-- Custom styles for this template -->
    <!-- <link href="headers.css" rel="stylesheet" /> -->
  </head>
  <body>
    <main>
      <nav class="py-2 bg-light border-bottom">
        <div class="container d-flex flex-wrap">
          <ul class="nav me-auto">
            <li class="nav-item">
              <a href="home" class="nav-link link-dark px-2 active" aria-current="page"><b>HashtagEco</b></a>
            </li>
            <li class="nav-item">
              <a href="product" class="nav-link link-dark px-2">Eco Product</a>
              <ul class="sub-menu">
                <li><a href="zeroWasteProduct" aria-label="subemnu">zeroWaste</a></li>
                <li><a href="upcyclingProduct" aria-label="subemnu">upcycling</a></li>
                <li><a href="zeroWasteProduct" aria-label="subemnu">zeroWaste</a></li>
              </ul>
            </li>
            <li class="nav-item"><a href="productscrap" class="nav-link link-dark px-2">Eco Scrap</a></li>

            <li class="nav-item"><a href="profile" class="nav-link link-dark px-2">Eco Profile</a></li>
          </ul>
          <ul class="nav">
            <!-- 로그인 상태 확인용 -->

            <!-- 로그아웃 상태여서 Logout->Login 만들기 -->
            <li id="login" class="nav-item"><a href="login" class="nav-link link-dark px-2">Login</a></li>
            <!-- 로그인 상태여서 Login->Logout 만들기 -->
            <li id="logout" class="nav-item"><a href="logout" class="nav-link link-dark px-2">Logout</a></li>
            <!-- 회원가입 링크 -->
            <li class="nav-item"><a href="signup" class="nav-link link-dark px-2">Sign up</a></li>
          </ul>
        </div>
      </nav>
    </main>

    <script src="/docs/5.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4" crossorigin="anonymous"></script>
  </body>
</html>
