<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="description" content="" />
    <meta name="author" content="Mark Otto, Jacob Thornton, 그리고 Bootstrap 기여자들" />
    <meta name="generator" content="Hugo 0.104.2" />
    <title>home</title>

    <link rel="canonical" href="https://getbootstrap.kr/docs/5.2/examples/carousel/" />

    <link href="/docs/5.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous" />

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/reset-css@5.0.1/reset.min.css" />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="./css/home.css" />
    <!-- Favicons -->
    <link rel="apple-touch-icon" href="/docs/5.2/assets/img/favicons/apple-touch-icon.png" sizes="180x180" />
    <link rel="icon" href="/docs/5.2/assets/img/favicons/favicon-32x32.png" sizes="32x32" type="image/png" />
    <link rel="icon" href="/docs/5.2/assets/img/favicons/favicon-16x16.png" sizes="16x16" type="image/png" />
    <link rel="manifest" href="/docs/5.2/assets/img/favicons/manifest.json" />
    <link rel="mask-icon" href="/docs/5.2/assets/img/favicons/safari-pinned-tab.svg" color="#712cf9" />
    <link rel="icon" href="/docs/5.2/assets/img/favicons/favicon.ico" />
    <meta name="theme-color" content="#712cf9" />

    <style>
      .bd-placeholder-img {
        font-size: 1.125rem;
        text-anchor: middle;
        -webkit-user-select: none;
        -moz-user-select: none;
        user-select: none;
      }

      @media (min-width: 768px) {
        .bd-placeholder-img-lg {
          font-size: 3.5rem;
        }
      }

      .b-example-divider {
        height: 3rem;
        background-color: rgba(0, 0, 0, 0.1);
        border: solid rgba(0, 0, 0, 0.15);
        border-width: 1px 0;
        box-shadow: inset 0 0.5em 1.5em rgba(0, 0, 0, 0.1), inset 0 0.125em 0.5em rgba(0, 0, 0, 0.15);
      }

      .b-example-vr {
        flex-shrink: 0;
        width: 1.5rem;
        height: 100vh;
      }

      .bi {
        vertical-align: -0.125em;
        fill: currentColor;
      }

      .nav-scroller {
        position: relative;
        z-index: 2;
        height: 2.75rem;
        overflow-y: hidden;
      }

      .nav-scroller .nav {
        display: flex;
        flex-wrap: nowrap;
        padding-bottom: 1rem;
        margin-top: -1px;
        overflow-x: auto;
        text-align: center;
        white-space: nowrap;
        -webkit-overflow-scrolling: touch;
      }
    </style>
  </head>
  <body>
    <main>
      <div id="myCarousel" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-indicators">
          <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
          <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="1" aria-label="Slide 2"></button>
          <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="2" aria-label="Slide 3"></button>
          <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="3" aria-label="Slide 4"></button>
          <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="4" aria-label="Slide 5"></button>
        </div>

        <div class="carousel-inner">
          <!-- 캐러셀 1 -->
          <div class="carousel-item active">
            <div class="d-flex justify-content-center" style="height: 100%">
              <img src="img/carousel/012.jpg" width="100%" height="100%" />
              <!-- <rect width="100%" height="100%" fill="#777" /> -->
            </div>
            <div class="container">
              <div class="carousel-caption text-start">
                <!-- <h1 style="color: black">에코 상품에 대해 더 궁금하다면?</h1> -->
                <!-- <p>더 자세한 내용을 볼 수 있게 눌러보세요!</p> -->
                <!-- <p><a class="btn btn-lg btn-primary" style="background-color: #316e31; box-shadow: none; text-decoration: none" href="product">오늘의 상품 둘러보기</a></p> -->
              </div>
            </div>
          </div>
          <!-- 캐러셀 2 -->
          <div class="carousel-item">
            <div class="d-flex justify-content-center" style="height: 100%">
              <img src="img/carousel/014.jpg" width="100%" height="100%" />
              <rect width="100%" height="100%" fill="#777" />
            </div>
            <div class="container">
              <div class="carousel-caption">
                <!-- <h1 style="color: black">내 주위 에코 마켓이 궁금하다면?</h1> -->
                <!-- <p>더 자세한 내용을 볼 수 있게 눌러보세요!</p> -->
                <!-- <p style="outline: none"><a class="btn btn-lg btn-primary" style="background-color: #316e31; text-decoration: none" href="map">마켓 둘러보기</a></p> -->
              </div>
            </div>
          </div>
          <!-- 캐러셀 3 -->
          <div class="carousel-item">
            <div class="d-flex justify-content-center" style="height: 100%">
              <img src="img/carousel/007.jpg" width="100%" height="100%" />
              <rect width="100%" height="100%" fill="#777" />
            </div>
            <div class="container">
              <div class="carousel-caption">
                <!-- <h1 style="color: black">내 주위 에코 마켓이 궁금하다면?</h1> -->
                <!-- <p>더 자세한 내용을 볼 수 있게 눌러보세요!</p> -->
                <!-- <p style="outline: none"><a class="btn btn-lg btn-primary" style="background-color: #316e31; text-decoration: none" href="map">마켓 둘러보기</a></p> -->
              </div>
            </div>
          </div>
          <!-- 캐러셀 4 -->
          <div class="carousel-item">
            <div class="d-flex justify-content-center" style="height: 100%">
              <img src="img/carousel/006.jpg" width="100%" height="100%" />
              <rect width="100%" height="100%" fill="#777" />
            </div>
            <div class="container">
              <div class="carousel-caption text-end">
                <!-- <h1 style="color: black">내가 어떤 것에 관심이 있었는지 궁금하다면?</h1> -->
                <!-- <p>더 자세한 내용을 볼 수 있게 눌러보세요!</p> -->
                <!-- <p><a class="btn btn-lg btn-primary" style="background-color: #316e31; text-decoration: none" href="productscrap">마이페이지에서 확인하기</a></p> -->
              </div>
            </div>
          </div>
          <!-- 캐러셀 5 -->
          <div class="carousel-item">
            <div class="d-flex justify-content-center" style="height: 100%">
              <img src="img/carousel/009.jpg" width="100%" height="100%" />
              <rect width="100%" height="100%" fill="#777" />
            </div>
            <div class="container">
              <div class="carousel-caption">
                <!-- <h1 style="color: black">내 주위 에코 마켓이 궁금하다면?</h1> -->
                <!-- <p>더 자세한 내용을 볼 수 있게 눌러보세요!</p> -->
                <!-- <p style="outline: none"><a class="btn btn-lg btn-primary" style="background-color: #316e31; text-decoration: none" href="map">마켓 둘러보기</a></p> -->
              </div>
            </div>
          </div>
        </div>

        <button class="carousel-control-prev" type="button" data-bs-target="#myCarousel" data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#myCarousel" data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
      </div>

      <!-- Marketing messaging and featurettes
  ================================================== -->
      <!-- Wrap the rest of the page in another container to center all the content. -->

      <div class="container marketing">
        <!-- Three columns of text below the carousel -->
        <div class="row">
          <!-- 하단 아이템 1 -->
          <div class="col-lg-4">
            <img src="https://image.utoimage.com/preview/cp924216/2021/07/202107021874_500.jpg" alt="친환경" class="bd-placeholder-img rounded-circle" width="140" height="140" />

            <h2 class="fw-normal">어떻게 지구에 도움이 될까요?</h2>
            <p>환경에 관심을 가지고 있다는 사실만으로도 큰 힘이 된다는 사실!</p>
            <p><a style="background-color: rgb(49, 110, 49)" class="btn btn-secondary" href="/zeroWasteProduct/1">에코 상품 둘러보기 &raquo;</a></p>
          </div>
          <!-- 하단 아이템 2 -->
          <div class="col-lg-4">
            <img src="https://image.utoimage.com/preview/cp924216/2021/04/202104021936_500.jpg" alt="지구" class="bd-placeholder-img rounded-circle" width="140" height="140" />

            <h2 class="fw-normal">어떻게 만들어진 사이트일까요?</h2>
            <p>지구가 점점 아파가고 있어요. 조금이라도 지구에게 도움이 되는 길을 찾아봐요.</p>
            <p><a style="background-color: rgb(49, 110, 49)" class="btn btn-secondary" href="/map">에코 지도 둘러보기 &raquo;</a></p>
          </div>
          <!-- 하단 아이템 3 -->
          <div class="col-lg-4">
            <img src="https://image.utoimage.com/preview/cp872722/2022/05/202205024305_500.jpg" alt="친환경" class="bd-placeholder-img rounded-circle" width="140" height="140" />

            <h2 class="fw-normal">어떻게 사용하면 좋을까요?</h2>
            <p>카테고리별로 만날 수 있는 상품들과 지역별로 정리되어 있는 마켓들까지</p>
            <p><a style="background-color: rgb(49, 110, 49)" class="btn btn-secondary" href="/productscrap">스크랩한 상품 보기 &raquo;</a></p>
          </div>
        </div>
      </div>
    </main>

    <script
      src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js"
      integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.min.js"
      integrity="sha384-fbbOQedDUMZZ5KreZpsbe1LCZPVmfTnH7ois6mU1QK+m14rQ1l2bGBq41eYeM/fS"
      crossorigin="anonymous"
    ></script>
    <script src="/docs/5.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4" crossorigin="anonymous"></script>
  </body>
</html>
