<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="description" content="" />
    <meta name="author" content="Mark Otto, Jacob Thornton, 그리고 Bootstrap 기여자들" />
    <meta name="generator" content="Hugo 0.104.2" />
    <title>signup</title>

    <link rel="canonical" href="https://getbootstrap.kr/docs/5.2/examples/checkout/" />

    <link href="/docs/5.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous" />

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/reset-css@5.0.1/reset.min.css" />

    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM"
      crossorigin="anonymous"
    />

    <!-- Favicons -->
    <link rel="apple-touch-icon" href="/docs/5.2/assets/img/favicons/apple-touch-icon.png" sizes="180x180" />
    <link rel="icon" href="/docs/5.2/assets/img/favicons/favicon-32x32.png" sizes="32x32" type="image/png" />
    <link rel="icon" href="/docs/5.2/assets/img/favicons/favicon-16x16.png" sizes="16x16" type="image/png" />
    <link rel="manifest" href="/docs/5.2/assets/img/favicons/manifest.json" />
    <link rel="mask-icon" href="/docs/5.2/assets/img/favicons/safari-pinned-tab.svg" color="#712cf9" />
    <link rel="icon" href="/docs/5.2/assets/img/favicons/favicon.ico" />
    <meta name="theme-color" content="#712cf9" />

    <style>
      /* .container {
        max-width: 960px;
      } */
      .bd-placeholder-img {
        font-size: 1.125rem;
        text-anchor: middle;
        -webkit-user-select: none;
        -moz-user-select: none;
        user-select: none;
      }

      @media (min-width: 768px) {
        .bd-placeholder-img-lg {
          font-size: 3.5rem;
        }
      }

      .b-example-divider {
        height: 3rem;
        background-color: rgba(0, 0, 0, 0.1);
        border: solid rgba(0, 0, 0, 0.15);
        border-width: 1px 0;
        box-shadow: inset 0 0.5em 1.5em rgba(0, 0, 0, 0.1), inset 0 0.125em 0.5em rgba(0, 0, 0, 0.15);
      }

      .b-example-vr {
        flex-shrink: 0;
        width: 1.5rem;
        height: 100vh;
      }

      .bi {
        vertical-align: -0.125em;
        fill: currentColor;
      }

      .nav-scroller {
        position: relative;
        z-index: 2;
        height: 2.75rem;
        overflow-y: hidden;
      }

      .nav-scroller .nav {
        display: flex;
        flex-wrap: nowrap;
        padding-bottom: 1rem;
        margin-top: -1px;
        overflow-x: auto;
        text-align: center;
        white-space: nowrap;
        -webkit-overflow-scrolling: touch;
      }
    </style>
    <script type="text/javascript">
      function safetyPasswordPattern(str) {
        var pass = str.value;
        var message = "";
        var color = "";
        var checkPoint = 0;

        // 입력값이 있을경우에만 실행
        if (pass.length) {
          // 최대 입력 글자수를 제한한다.
          if (pass.length < 8 || pass.length > 16) {
            message = ":: 최소 8자 이상, 최대 16자 이하 ::";
            color = "#A23E48";
          }

          // 문자열의 길이가 8 ~ 16 인경우
          else {
            // 비밀번호 문자열에 숫자 존재 여부 검사
            var pattern1 = /[0-9]/; // 숫자
            if (pattern1.test(pass) == false) {
              checkPoint = checkPoint + 1;
            }

            // 비밀번호 문자열에 영문 소문자 존재 여부 검사
            var pattern2 = /[a-z]/;
            if (pattern2.test(pass) == false) {
              checkPoint = checkPoint + 1;
            }

            // 비밀번호 문자열에 영문 대문자 존재 여부 검사
            var pattern3 = /[A-Z]/;
            if (pattern3.test(pass) == false) {
              checkPoint = checkPoint + 1;
            }

            // 비밀번호 문자열에 특수문자 존재 여부 검사
            var pattern4 = /[~!@#$%^&*()_+|<>?:{}]/; // 특수문자
            if (pattern4.test(pass) == false) {
              checkPoint = checkPoint + 1;
            }

            if (checkPoint >= 3) {
              message = ":: 보안성이 취약한 비밀번호 ::";
              color = "#A23E48";
            } else if (checkPoint == 2) {
              message = ":: 보안성이 낮은 비밀번호 ::";
              color = "#FF8C42";
            } else if (checkPoint == 1) {
              message = ":: 보안성이 보통인 비밀번호 ::";
              color = "#FF8C42";
            } else {
              message = ":: 보안성이 강력한 비밀번호 ::";
              color = "#0000CD";
            }
          }
        } else {
          message = ":: 비밀번호 조건을 지켜주세요 ::";
          color = "#000000";
        }

        document.getElementById("makyText").innerHTML = message;
        document.getElementById("makyText").style.color = color;
      }
    </script>
  </head>
  <body>
    <div class="container">
      <!-- <form id="signup-form" name="signup-form" action="/signup" method="post" class="needs-validation" novalidate> -->
      <main>
        <div class="py-5 text-center">
          <!-- h2태그 내부에 적힌 거 변경해도 됨 -->
          <h2 style="font-weight: bold">Sign up</h2>
          <!-- p태그 내부에 적힌 거 변경해도 됨 -->
          <p class="lead">회원가입</p>
        </div>

        <div class="row g-5 d-flex justify-content-center justify-content-center">
          <!-- 회원가입 입력 -->
          <!-- 입력 받을 내용 및 input 변경해도 됨 -->
          <div class="col-md-7 col-lg-8">
            <form id="signup-form" name="signup-form" action="/signup" method="post">
              <div class="row g-3">
                <!-- 이름 입력 -->
                <div class="col-sm-6">
                  <label for="firstName" class="form-label">Name</label>
                  <!-- input 태그의 required 속성으로 공백오류 처리 -->
                  <input name="name" id="name" type="text" class="form-control" placeholder="이름을 입력해주세요" value="" required />
                  <!-- <div id="nameError" class="invalid-feedback"></div> -->
                </div>
                <!-- 닉네임 입력 -->
                <div class="col-sm-6">
                  <label for="lastName" class="form-label">Nickname</label>
                  <!-- input 태그의 required 속성으로 공백오류 처리 -->
                  <input name="nickname" id="nickname" type="text" class="form-control" placeholder="닉네임을 입력해주세요" value="" required />
                  <!-- <div id="nicknameError" class="invalid-feedback"></div> -->
                </div>
                <!-- 이메일 입력 -->
                <div class="col-12">
                  <label for="email" class="form-label">Email</label>
                  <!-- input 태그의 required 속성으로 공백오류 처리 -->
                  <input name="email" id="email" type="email" class="form-control" placeholder="이메일을 입력해주세요" required />
                  <!-- <div id="emailError" class="invalid-feedback"></div> -->
                </div>
                <!-- 비밀번호 입력 -->
                <div class="col-12">
                  <label for="address" class="form-label">Password</label> <small> <span id="makyText">:: 비밀번호 조건을 지켜주세요 ::</span></small>
                  <!-- input 태그의 required 속성으로 공백오류 처리 -->
                  <input
                    name="password"
                    id="password"
                    type="password"
                    onKeyup="safetyPasswordPattern(this);"
                    class="form-control"
                    placeholder="비밀번호를 입력해주세요 (8자리 이상, 16자리 이하)"
                    required
                  />
                  <!-- <div id="passwordError" class="invalid-feedback"></div>-->
                  <!-- 비밀번호 자리수 제한 함수 넣기 -->
                </div>
              </div>

              <!-- 위아래 간격 조정 -->
              <br />

              <!-- 회원가입완료 버튼 -->
              <button style="background-color: rgb(49, 110, 49); color: white" id="signupButton" class="w-100 btn btn-lg" name="submit" type="submit">가입 완료하기</button>

              <!-- 로그인 페이지로 이동 -->
              <a style="text-decoration-line: none" href="/login"> <p class="text-center mt-4 mb-3 text-muted">이미 회원이신가요?</p></a>
              <!-- 위아래 간격 조정 -->
              <br />
              <br />
            </form>
          </div>
        </div>
      </main>
      <!-- </form> -->
    </div>

    <script src="/docs/5.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4" crossorigin="anonymous"></script>

    <script src="form-validation.js"></script>

    <script
      src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js"
      integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.min.js"
      integrity="sha384-fbbOQedDUMZZ5KreZpsbe1LCZPVmfTnH7ois6mU1QK+m14rQ1l2bGBq41eYeM/fS"
      crossorigin="anonymous"
    ></script>

    <!-- signup.js 불러오기 -->
    <!-- <script type="text/javascript" src="/js/signup.js"></script> -->
  </body>
</html>
